@media only screen and (max-width: 576px) {
  body {
    background-color: #d5f80cfb;
  }
  .container {
    position: relative;
    border-bottom: black solid 1px;
    text-align: center;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 100px;
  }
  /* setting tanah kolom 1 */
  .tanah {
    position: relative;
    display: flex;
    height: 300px;
    width: 400px;
    top: 50px;
    left: 0px;
    margin: 50px auto;
    padding: 50px auto;
    box-sizing: border-box;
    background-color: chartreuse;
  }
  .kolom2 {
    left: 0px;
  }
}
